@font-face {
    font-family: "Frutiger-Bold";
    src: url("FrutigerRomanBold.woff") format("woff"), url("FrutigerRomanBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Frutiger-Regular";
    src: url("FrutigerRomanRegular.woff") format("woff"), url("FrutigerRomanRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

div.sidebar-body,
#TaskBar div.body {
    font-size: small;
}

#LayerTree div.layertree-container {
    max-height: calc(100vh - 9em)!important;
}

#IdentifyViewer table.identify-attr-subtable {
    width: 100%;
}

#IdentifyViewer table.identify-attr-subtable > tbody > tr:nth-child(even) {
    background-color: #F0F0F0;
}

#IdentifyViewer td.identify-attr-spacer {
    height: 8px;
}
