name: QWC2 Build
on: [push]

jobs:
    build:
      runs-on: ubuntu-latest
      steps:

      - uses: actions/checkout@v2
      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Install all required dependencies
        run: yarn install

      - name: Compile a deployable application bundle
        run: yarn run prod

      - name: Version number
        id: version_number
        run: |
          if [ ${{ startsWith(github.ref, 'refs/tags/') }} = true ]; then
            VERSION=$(basename ${{ github.ref }})
          else
            VERSION=ci-latest-$(basename ${{ github.ref }})
          fi
          echo "##[set-output name=version;]$VERSION"

      - name: Build and publish sogis-map-viewer container
        uses: elgohr/Publish-Docker-Github-Action@2.12
        with:
          name: sourcepole/sogis-map-viewer
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          tags: "${{ steps.get_tag.outputs.tag }}"
